[submodule "web/cms"]
	path = web/cms
	url = https://github.com/WordPress/WordPress.git
[submodule "web/content/plugins/rokka-integration"]
	path = web/content/plugins/rokka-integration
	url = https://github.com/rokka-io/rokka-wordpress-plugin.git
