puphpet/config-custom.yaml

.DS_store
/.vagrant/
/bin/
.idea/
composer.phar
/vendor/
/node_modules/
/web/adminer/*

/web/wp-dev-config.php
/web/wp-stage-config.php
/web/wp-live-config.php
/web/content/uploads/
/web/content/debug.log

/web/content/themes/rokka-wordpress-plugin-vm/node_modules/
/web/content/themes/rokka-wordpress-plugin-vm/assets/css/
/web/content/themes/rokka-wordpress-plugin-vm/assets/js/*.min.js
